* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myContainer {
    max-width: 768px;
    margin: 0 auto;
}

.logo {
    height: 22px;
}

.navPosetion {
    position: sticky;
}

#top-section {
    background-color: #f2f2f2;
    padding: 10px 15px;
}

@media only screen and (max-width: 767px) {
    .topIcons {
        padding: 5px 15px;
    }
}

.myRow {
    margin: 20px 15px;
}

.intro-sec i {
    font-size: 30px;
}

.intro-sec div {
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px 0;
}

p {
    margin: 0;
}

.nav-link {
    text-transform: uppercase;
}

.course-sec img {
    border: 1px solid #c8c8c8;
    width: 100%;
    margin-top: 15px;
}

#courses,
#services,
#blog {
    background-color: #f2f2f2;
}

.seeMore {
    padding: 0 0 10px 0;
    text-align: center;
}

.footer-nav {
    list-style: none;
    margin-bottom: 0;
}

.footer-nav li {
    display: inline-block;
}

.yt {
    color: red;
}

.up {
    color: slateblue;
}

ul {
    list-style: none;
}

.footerNav {
    padding-top: 5px;
}

.footerNav ul {
    padding: 0;
}

section {
    padding: 30px 0;
}

h4 {
    color: #acabab;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sticky-top {
    z-index: 0;
}

iframe {
    width: 100%;
    height: auto;
}
